<footer
  class="w-full h-[72px] flex justify-center items-center shadow-black shadow-2xl"
>
  <div class="mx-auto max-w-screen-xl px-2.5 md:px-20">
    <div class="flex justify-center items-center">
      &copy; <%= new Date().getFullYear() %> Darkside1337 • Built with NodeJs,
      EJS & MongoDB
    </div>
  </div>
</footer>
