<div class="mx-auto max-w-screen-xl px-2.5 md:px-20 w-full h-full">
  <div class="w-full h-full py-8 px-4 flex">
    <div class="w-[60%] flex flex-col justify-center">
      <h1 class="text-8xl">
        Welcome to the
        <span
          class="inline-block relative after:absolute after:bg-underline2 after:bg-no-repeat after:bg-[length:190px_100px] z-10 after:-z-10 after:inset-1 after:-bottom-4"
        >
          Elite
        </span>
        Club!
      </h1>
      <h3 class="text-3xl mt-8">Where the exceptional gather.</h3>
    </div>
    <div class="w-[40%] flex flex-col gap-8 justify-center px-4 py-8">
      <div class="flex flex-col gap-4">
        <p>Curious? Eager to join the ranks?</p>
        <a role="button" class="btn btn-accent max-w-fit" href="/auth/signup"
          >Sign up!</a
        >
        <hr />
      </div>
      <div class="flex flex-col gap-4">
        <p>Already one of the distinguished?</p>
        <a role="button" class="btn btn-primary max-w-fit" href="/auth/login"
          >Log in</a
        >
        <hr />
      </div>
      <div class="flex flex-col gap-4">
        <p>
          Join the Elite Club today. Start networking, start texting, start your
          exclusive experience now.
        </p>
        <a role="button" class="btn btn-outline max-w-fit" href="/board"
          >Chat Now!</a
        >
      </div>
    </div>
  </div>
</div>
